:root {
  --brand-color: #067bb6;
  --brand-color2: #ade2ff;
}
.fg-brand {
  color: var(--brand-color) !important;
}
.bg-brand {
  background: var(--brand-color) !important;
}
.bd-brand {
  border-color: var(--brand-color) !important;
}
.bg-brand-dark {
  background: var(--brand-color3) !important;
}
.accent-color {
  color: var(--brand-color) !important;
}
.new-hero {
  padding: 20px;
}
body {
  background: transparent url("../images/d-blue.svg") top left no-repeat;
  background-size: cover;
}
.new-hero .button {
  border-radius: 50px;
}
.new-hero .button.get-started-button {
  color: white;
  background: #8b0000;
}
.new-hero .button.download-source-button {
  color: black;
  background: #ffd200;
}
.presenta {
  margin-top: 60px;
  padding: 60px 0;
  background: transparent url("../images/a-blue.svg") top right no-repeat;
  background-size: contain;
}
.presenta-box {
  -webkit-box-shadow: 2px 2px 10px #ffd2d2;
          box-shadow: 2px 2px 10px #ffd2d2;
}
.features {
  padding: 60px 0;
  color: white;
  text-align: center;
  background: transparent url("../images/b-blue.svg") top left no-repeat;
  background-size: cover;
}
.in-action-wrapper {
  background: transparent url("../images/e-blue.svg") top right no-repeat;
  background-size: contain;
}
.sponsor-wrapper,
.in-action-wrapper2 {
  background: transparent url("../images/d-blue.svg") bottom left no-repeat;
  background-size: contain;
}
.shadowed {
  -webkit-box-shadow: 2px 2px 20px #ffd2d2;
          box-shadow: 2px 2px 20px #ffd2d2;
}
.pandora .button {
  border-radius: 50px;
  margin: 10px;
}
footer {
  background: #24285b url("../images/c.svg") top right no-repeat;
  background-size: cover;
  color: #fff;
}
footer a {
  color: #909090;
  text-decoration: none!important;
}
footer a:hover {
  color: #c9c9c9;
}
.special-thanks {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.special-thanks [class*=cell-] {
  text-align: center;
  margin-top: 20px;
}
.special-thanks img {
  width: 124px;
  max-height: 64px;
}
@media screen and (min-width: 576px) {
  .new-hero .download-source-button {
    margin-top: 0!important;
  }
}
@media screen and (min-width: 1200px) {
  .new-hero-container {
    padding-top: 80px;
  }
  .new-hero {
    padding: 60px 40px 0 80px;
  }
}
.work-box {
  max-height: 260px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 10px #a9a4a4;
          box-shadow: 2px 2px 10px #a9a4a4;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  -o-transition: transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  z-index: 0;
}
.work-box:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1;
}
.buy-me-coffee > div {
  -webkit-box-shadow: inset 2px 2px 20px #ffd2d2;
          box-shadow: inset 2px 2px 20px #ffd2d2;
  background: #faf5f5;
}
.buy-me-coffee > div img {
  height: 48px;
}
.adsbygoogle {
  margin-top: 60px;
}
.google-auto-placed {
  display: none!important;
}